.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky+.content {
  padding-top: 60px;
}

#aktualis {
  font-variant: small-caps;
}

label {
  display: block;
  width: 400px;
}

.alice-blue {
  background-color: #F0F8FF;
}


/* KOSAR.HTML CSS FÁJL -LEFELE- */
.cart-page {
  margin: 80px auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.cart-info {
  display: flex;
  flex-wrap: wrap;
}

th {
  text-align: left;
  padding: 5px;
  background: #ff523b;
  font-weight: normal;
}

td {
  padding: 15px 5px;
}

td input {
  width: 40px;
  height: 30px;
  padding: 5px;
  margin-top: 5px;
}

td a {
  color: #ff523b;
  font-size: 12px;

}

.total-price {
  display: flex;
  justify-content: flex-end; 
}

.total-price table {
  border-top: 3px solid #ff523b;
  width: 100%;
  max-width: 400px;
}
/* KOSÁR CSS FÁJL -VÉGE- */

.sajat-flex {
  padding: 20px;
  display: flex;
  flex-direction: row;
}

#sajat-flex2 {
  background: red;
  margin: auto;
  width: 100%;
}