body{
<<<<<<< HEAD

    background-color: olivedrab;

    margin-top: 200px;

    color: white;

    text-align: center;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


p {

    font-size: 20px;

    display: contents;

    content-visibility: auto;

}



.button {

  background-color: #111827;

  border: 1px solid transparent;

  border-radius: .75rem;

  box-sizing: border-box;

  color: #FFFFFF;

  cursor: pointer;

  flex: 0 0 auto;

  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

  font-size: 1.125rem;

  font-weight: 600;

  line-height: 1.5rem;

  padding: .75rem 1.2rem;

  text-align: center;

  text-decoration: none #6B7280 solid;

  text-decoration-thickness: auto;

  transition-duration: .2s;

  transition-property: background-color,border-color,color,fill,stroke;

  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);

  user-select: none;

  -webkit-user-select: none;

  touch-action: manipulation;

  width: auto;

}



.button:hover {

  background-color: #374151;

}



.button:focus {

  box-shadow: none;

  outline: 2px solid transparent;

  outline-offset: 2px;

}



@media (min-width: 768px) {

  .button-40 {

    padding: .75rem 1.5rem;

  }

}



h1 {

    font-size: 70px;

    font-weight: 600;

    background-image: linear-gradient(to left, #ffff, #ffff);

    color: transparent;

    background-clip: text;

    -webkit-background-clip: text;

}

#back-button {
   color: white;
}
=======
    background-color: olivedrab;
    margin-top: 200px;
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    font-size: 20px;
    display: contents;
    content-visibility: auto;
}

.button {
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.button:hover {
  background-color: #374151;
}

.button:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .button-40 {
    padding: .75rem 1.5rem;
  }
}

h1 {
  font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to left, #ffff, #ffff);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
>>>>>>> 403d87350fd37d82f6efe42e8378edb532d1a43f
